<div id="parent">

    <mat-card>
        <mat-card-content>
            <div class="header">
                <h2>Forgot password</h2>
            </div>
            <form (ngSubmit)="submit()" name="loginForm" [formGroup]="form">
                <div class="UserIdInput">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input  formControlName="username" matInput placeholder="Enter Username"
                            required />
                        <mat-error *ngIf="!form.controls['username'].valid"> -->
                            Username is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>newPassword</mat-label>
                        <input  formControlName="newpassword" matInput type="password" required />
                        <button mat-icon-button matSuffix [attr.aria-label]="'Hide Password'">
                        </button>
                        <mat-error *ngIf="!form.controls['newpassword'].valid">
                            Password is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="UserIdInput">
                    <mat-form-field class="full-width" appearance="outline">
                    <mat-label>What was your first pet?</mat-label>
                    <input 
                    formControlName="petName"
                    matInput
                    placeholder="Enter PetName" required
                    />
                    <mat-error *ngIf="!form.controls['petName'].valid"> 
                    petName is required
                   </mat-error>
                    </mat-form-field>
                    </div>



                <!-- <button mat-flat-button color="primary" style="border-radius:10px; width : 10em;">Submit</button> -->

            </form>



        </mat-card-content>
    </mat-card>
    <mat-dialog-actions align="end">
        <button mat-raised-button (click)="submit()" color="primary" [mat-dialog-close]="true" cdkFocusInitial>Update movie</button>
      <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
    
</div>