<div class="head">
  <div>
    
    
      <mat-form-field  appearance="fill">
          <mat-label>Search movies by name</mat-label>
          <input matInput   [(ngModel)]="searchText"  />
          <mat-icon matPrefix >search</mat-icon>
        </mat-form-field>
        <button mat-raised-button style="height: 30px;" class="ms-2 " (click)="search()" color="primary">Search</button>
     
    </div>
    <button mat-raised-button (click)="openDialog()" color="primary">Add movie</button>
    <!-- <input type="text" [(ngModel)]="searchText"  > -->
</div>
<!-- <p>admin-dashboard works!</p> -->
<app-movies-cards></app-movies-cards>
