#parent{

margin-top: 57px;
margin-bottom: 57px;

}
mat-form-field{
  color: white !important;
}
mat-card {
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
  max-height: 600px;
  /* background-color: #e8f3fc; */
  background-color: rgba(121, 119, 119, 0.731);
  /* background-color: #211f1f; */
  border-radius: 20px !important;
  }
  mat-mdc-form-field-infix ng-tns-c3899553609-0{
    border-color: white;
    color: white;
  }

  .header {
  text-align: center;
  color: white;
  }
  .full-width {
  width: 80%;
  }
  .button-row {
  padding-top: 5px;
  }
  /* .button-row a {
  margin-right: 8px;
  text-align: center;
  } */
  /* .forget-password {
  padding-left: 0px;
  } */
  
  .contentBody {
  padding: 60px 1rem;
  /* background: #1b6ca8; */
  background: white;
  display: block;
  }
  .text-link>a {
  /* float: right; */
  /* padding-right: 60px; */
  color: white;
    font-size: medium;
  text-decoration: none;
  }