<!-- <div id="loginform">   
  <section class="container">
      <div class="row content d-flex justify-content-center align-items-center ">
          <div class="col-md-5 ">
              <div class="box shadow bg-white bg-transparent border border-white rounded-5 p-4">
                <div class="d-flex justify-content-center align-items-center mb-2">
                  <span class="material-symbols-outlined text-light  "style="font-size:60px;">
                  account_circle
                  </span>
                <h3 class="mt-2 text-center fs-1 text-light ms-2">Login</h3>
                </div>
                  <form class="mb-3 " [formGroup]="form">
                      <span *ngIf="form.errors?.['invalidCred']" class=".text-danger">Invalid username or password !</span>
    
                      
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-0 bg-transparent outline-light text-light" id="username" placeholder="username" formControlName="username" >
                        <label for="username" class="text-light" >Username</label>
                        <span class="text-danger" *ngIf="username?.touched && username?.invalid">
                            <span *ngIf="username?.errors?.['required']">Username Required!</span>
          
                              </span>
                    </div>
                   

                      <div class="form-floating mb-3">
                          <input type="password" class="form-control rounded-0 bg-transparent outline-light text-light" id="password" placeholder="password" formControlName="password" >
                          <label for="password " class="text-light" >Password</label>
                          <span class="text-danger" *ngIf="password?.touched && password?.invalid">
                              <span *ngIf="password?.errors?.['required']">Password Required!</span>
            
                                </span>
                      </div>
                     
                      <div class="d-grid gap-2 mb-3">
                          <button type="button" class="btn btn-dark btn-lg border-0 rounded-0 " (click)="submit()" [disabled]="username?.invalid || password?.invalid">Login</button>
                      </div>
                     
                  </form>
                  <div class="sign-up-accounts text-center">
                      <p class="text-center text-light">Or Sign Up</p>
                      <a class=" text-light text-decoration-none" id="hover-underline-animation" routerLink="/signup">Or Sign Up</a> 
                  </div>
              </div>
          </div>
      </div>
    </section>
    
  </div>
 -->

<div id="parent">   

 <mat-card>
  <mat-card-content>
  <div class="header">
  <h2>LOGIN</h2>
  </div>
  <form (ngSubmit)="submit()" name="loginorm" [formGroup]="form">
  <div class="UserIdInput">
  <mat-form-field class="full-width" appearance="outline">
  <mat-label>UserId</mat-label>
  <input class="text-white"
  formControlName="username"
  matInput
  placeholder="Enter UserId" required
  />
  <mat-error *ngIf="!form.controls['username'].valid">
  UserId is required
  </mat-error>
  </mat-form-field>
  </div>
  <div>
  <mat-form-field class="full-width" appearance="outline">
  <mat-label>Password</mat-label>
  <input class="text-white"  formControlName="password" matInput  type="password" required />
  <button  mat-icon-button matSuffix  [attr.aria-label]="'Hide Password'">
  </button>
  <mat-error *ngIf="!form.controls['password'].valid">
  Password is required
  </mat-error>
  </mat-form-field>
  </div>
  <button mat-flat-button color="primary" style="border-radius:10px; width : 10em;" >Login</button>
  
</form>


  <div class="mt-3 d-flex justify-content-around ">
    <span class="text-link ml-5 mr-5 ">
        <a   routerLink="/signup">Sign-up</a>
    </span>
    <span class="text-link">
        <a    (click)="openForgotPop()">Forgot Password?</a>
    </span>    
  </div>
  </mat-card-content>
  </mat-card>
</div>



<!-- <mat-card class="loginform parent" >
	<mat-card-title>
		login
	</mat-card-title>
    <form class="form parent" [formGroup]="form" (ngSubmit)="submit()">

	<mat-card-content >

		<mat-form-field>
			<input matInput placeholder="username" formControlName="username" 
            [class.invalid]="
            form.get('username')?.invalid &&
            (form.get('username')?.dirty ||
            form.get('username')?.touched)
          "
            />
     
		</mat-form-field>
        <br/>
        <span
        *ngIf="
          form.get('username')?.hasError('required') &&
          (form.get('username')?.dirty ||
            form.get('username')?.touched )
        "
        class="error" >This field is required.</span>
            <br>
		<mat-form-field>
			<input matInput placeholder="password" formControlName="password" >
		</mat-form-field><br/>
        <span
        *ngIf="
          form.get('password')?.hasError('required') &&
          (form.get('password')?.dirty ||
            form.get('password')?.touched )
        "
        class="error" >This field is required.</span>   
        <br>
		<button mat-raised-button color="primary" type="submit" class="marginright">login</button>
		
	</mat-card-content>
    </form>
</mat-card> -->

<!-- 
<form class="form parent" [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <div class="field">
      <label class="label">username</label>
      <input  type="text"   class="input"  formControlName="username" 
      [class.invalid]="
        loginForm.get('username')?.invalid &&
        (loginForm.get('username')?.dirty ||
        loginForm.get('username')?.touched)
      "
      />
      <span
      *ngIf="
        loginForm.get('username')?.hasError('required') &&
        (loginForm.get('username')?.dirty ||
          loginForm.get('username')?.touched )
      "
      class="error"
      >This field is required.</span
    >
    </div>
    <div class="field">
        <label class="label">Password</label>
        <input  type="text"   class="input"  formControlName="password" />
    </div>
    <div>
        <button type="submit">submit</button>
    </div>
</form>    -->