<h2 mat-dialog-title>Book Movie Details</h2>
<mat-dialog-content class="mat-typography">
    <form class="form parent" [formGroup]="ticketForm" >
           <mat-form-field class="full-width">
                  <mat-label>Movie Name</mat-label>
                  <input  matInput  placeholder="Movie name"  name="movieName" formControlName="movieName"  [value]="movie.movieName" >
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>User name</mat-label>
                <input  matInput   type="text" placeholder="User name" name="username" formControlName="username"  required>
             </mat-form-field>
            <mat-form-field class="full-width">
                  <mat-label>Theater Name</mat-label>
                  <input  matInput  placeholder="Theater Name" name="theaterName" formControlName="theaterName"  [value]="movie.theaterName" >
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Bookedseats</mat-label>
                <input  matInput   type="number" placeholder="Booked Seats" name="bookedSeats" formControlName="bookedSeats" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                  <mat-label>Movie Id</mat-label>
                  <input  matInput   type="number" placeholder="Movie Id" name="movie_fk" formControlName="movie_fk" [value]="id" >
            </mat-form-field>

        </form>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button (click)="submitForm()" color="primary" [mat-dialog-close]="true" cdkFocusInitial [disabled]="movie.availableSeats<=0">Book movie</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
