<!-- <section> -->
  <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active c-item">
        <img src="https://images.unsplash.com/photo-1635863138275-d9b33299680b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1031&q=80" class="d-block w-100 c-img" alt="Slide 1">
        <div class="carousel-caption bottom-0 mb-4">
          <!-- <p class="mb-5 fs-3 ">"Movie magic in motion"</p> -->
          <!-- <h1 class="display-1 fw-bolder text-capitalize">"Movie magic in motion"</h1> -->
          <button class="btn btn-primary px-4 py-2 fs-5 mt-5" routerLink="/login">Book now</button>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="https://d1ztzlhkdsyvrt.cloudfront.net/7c4321dd-203d-4250-bf80-a5b9366328fa?w=1200" class="d-block w-100 c-img" alt="Slide 2">
        <div class="carousel-caption bottom-0 mb-4">
          <!-- <p class="text-uppercase fs-3 mt-7">The season has arrived</p> -->
          <!-- <p class="display-1 fw-bolder text-capitalize">ADIPURUSH</p> -->
          <button class="btn btn-primary px-4 py-2 fs-4 mb-2" data-bs-toggle="modal"
            data-bs-target="#booking-modal" routerLink="/login">Book now</button>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="https://images.unsplash.com/photo-1509347528160-9a9e33742cdb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YmF0bWFufGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60" class="d-block w-100 c-img" alt="Slide 3">
        <div class="carousel-caption bottom-0 mb-4">
          <!-- <p class="text-uppercase fs-3 mt-5">Destination activities</p> -->
          <!-- <p class="display-1 fw-bolder text-capitalize">Go To watch</p> -->
          <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
            data-bs-target="#booking-modal" routerLink="/login">Book now</button>
        </div>
      </div>
<!-- https://images.unsplash.com/photo-1630453662510-9617e3cd6b3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cG93ZXIlMjByYW5nZXJzfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60 -->

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
    <!-- <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel"  data-bs-interval="1500">
      <div class="carousel-inner ">
        <div class="carousel-item active">
          <img src="https://lh6.googleusercontent.com/B0uQRPzgf2AX6EVvlqNWwV7ql2-TbAuWbJcnkHuC_uzEtG0viA6__4_v-bfdas4iM8MqIm8wcoDeaLRxugVFycbVvaelnagmzAsH9-ug-y0X2BxvEjFfhavM_fvWHDEnNKBFamG9=s0" class="d-block w-100  " alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://d1ztzlhkdsyvrt.cloudfront.net/1800e751-b2c5-4786-bbfe-3e2cfb7f2a6a?w=1200" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://d1ztzlhkdsyvrt.cloudfront.net/7c4321dd-203d-4250-bf80-a5b9366328fa?w=1200" class="d-block w-100" alt="...">
        </div>
      </div>
  
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div> -->
  <!-- </section> -->
  
